
//******** Variables *********

$color-main: #00bcd5;
$color-secondary: #f3bf13;

$color-text-dark: #6e6e6e;
$color-text-light: #fff;

$color-background: #f0f0f0;

//********* FONTS ****************
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham-Medium.eot?") format("eot"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.otf") format("opentype");
}

//******** OVER-WRITE CSS *********
md-input-container:not(.md-input-invalid).md-input-focused label {
  color: $color-main;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: $color-main;
}

md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
  color: rgb(0, 188, 213);
}

md-tabs md-ink-bar {
  color: rgb(243, 191, 19);
  background: rgb(243, 191, 19);
}

//************* GENERAL CSS ********************

.custom-card {
  background-color: $color-text-light;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  outline: 0;
}

.custom-card:hover {
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.18);
}


* {
  margin: 0;
}

html{
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  background-color: $color-background !important;
  font-family: Roboto, HelveticaNeue, sans-serif;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 50px;
}

.site-footer {
  color: $color-text-light;
  background: $color-text-dark;

  p {
    margin-top: 18px;
  }
}

.wrapper {
  padding: 0 0 15px 0;
  margin: 0;
  background-color: $color-background;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.m-b-15 {
  margin-bottom: 15px;
}

.text-align-c {
  text-align: center;
}

.header,
.footer {
  padding-left: 0;
  padding-right: 0;
}

.header {

  .navbar {
    margin-bottom: 0;
  }
  .navbar-header {
    float: left;
  }

  .navbar-default {
    background-color: $color-main;
    border: none;
    border-radius: 0;

    .logout-container {
      float: right;
      margin-top: 14px;
      font-size: 16px;

      .logged-in-username {
        display: inline-block;
        color: $color-text-light;
      }

      .buttons-divider {
        border: 1px solid #B0E7EF;
        margin: 0 12px;
      }

      .logout-button-action {
        display: inline-block;
        a {
          outline: 0;
          color: $color-text-light;
        }
      }
    }
    .navbar-brand {
      color: $color-text-light;
      font-family: Gotham;
      font-size: 32px;
    }
  }
}

//************************* LOGIN PAGE *******************************
.header-extended {
  height: 233px;
  background: $color-main;
}

.login-page-container {
  position: relative;

  .welcome-head {
    text-align: center;
    font-size: 30px;
    color: $color-text-light;
    font-weight: 300;
  }
}
.page-login {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 100px;
  background: $color-text-light;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  .login-container {
    .login-block {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      h3 {
        font-weight: 400;
        color: $color-text-dark;
      }

      form {
        text-align: left;
        margin-top: 34px;

        .border-button {
          border: 2px solid $color-main;
          background-color: $color-text-light;
          border-radius: 0;
          color: $color-main;
          width: 120px;
        }
      }
    }
  }
}

//************************* MAIN PAGE ***********************************
.page-home {
  .list-entity {
    padding: 10px 0;
    border: 1px solid grey;
    margin: 8px 0;
  }

  .panel-card {
    background-color: white;
    margin-top: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    .header-panel {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: $color-main;
      padding: 4px 15px;

      h4 {
        color: $color-text-light;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    .filter-block {
      background-color: $color-text-light;

      md-input-container>md-select {
        margin: 10px 0 0;
      }

      .refresh-btn-vertical-align {
        margin-top: 23px;
      }

      .md-button.md-raised {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 188, 213);
      }

      .md-button.md-raised:not([disabled]):hover {
        background-color: rgb(45, 167, 183);
      }
    }
  }

  .table-heading {
    background-color: $color-secondary;
    color: $color-text-light;
    text-transform: uppercase;
    margin: 10px 0;
    text-align: center;
    padding: 5px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .customer-list-block {
    .custom-card {
      margin: 8px 0;
      text-align: center;
      padding: 15px 0;

      .circle-highlight {
        background-color: $color-secondary;
        padding: 10px;
        border-radius: 50%;
        font-weight: 500;
        color: $color-text-light;
      }
    }
    .grid-label {
      color: $color-secondary;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

//************************* DETAIL PAGE ***********************************
.page-detail {
  .panel-card {
    background-color: white;
    margin-top: 60px;
    margin-bottom: 75px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    .back-arrow {
      float: left;
      margin-top: 9px;
    }
    .header-panel {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: $color-main;
      padding: 4px 15px;
      text-align: center;

      h4 {
        color: $color-text-light;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    .customer-info-block {
      color: $color-text-dark;

      .circle-container {
        margin-top: 30px;

        .circle-highlight {
          background-color: $color-secondary;
          padding: 20px;
          border-radius: 50%;
          font-weight: 500;
          color: $color-text-light;
        }
      }

      .name-customer-detail {
        font-weight: 400;
      }

      .product-customer-detail {
        font-size: 16px;
        font-weight: 500;
      }

      .status-customer-detail {
        font-weight: 500;
      }

      #SkypeButton_Call_SRA_SKYPE_1 {
        p {
          font-size: 0 !important;
          margin-bottom: 0 !important;
          margin-top: 10px !important;
        }

        img {
          margin: 5px !important;
          vertical-align: 0 !important;
        }
      }

      .status-block-details {
        margin: 26px 0;
      }
    }

    .md-button.md-raised {
      color: rgb(255, 255, 255);
      background-color: rgb(0, 188, 213);
    }

    .md-button.md-raised:not([disabled]):hover {
      background-color: rgb(64, 150, 183);
    }

    .tab-save-button {
      float: right;
      margin-bottom: 20px;
    }

    .datePickerContainer {
      margin-top: 32px;
      text-align: center;

      input {
        border: 1px solid #E1E1E1;
        border-radius: 0;
        padding: 7px;
        width: 210px;
        outline: 0;
      }
    }

    .timePickerContainer {
      margin-top: 32px;
      text-align: center;

      div.input-group.bootstrap-timepicker.timepicker {
        width: 210px;
        margin: 0 auto;
      }
       input {
         border-bottom-left-radius: 0;
         border-top-left-radius: 0;
         border: 1px solid #E1E1E1;
       }
    }
  }

}

.footer {
  padding-top: 19px;
  color: #777;
}
