@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham-Medium.eot?") format("eot"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.otf") format("opentype");
}
/* line 21, ../sass/_main.scss */
md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #00bcd5;
}

/* line 25, ../sass/_main.scss */
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #00bcd5;
}

/* line 29, ../sass/_main.scss */
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
  color: #00bcd5;
}

/* line 33, ../sass/_main.scss */
md-tabs md-ink-bar {
  color: #f3bf13;
  background: #f3bf13;
}

/* line 40, ../sass/_main.scss */
.custom-card {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  outline: 0;
}

/* line 47, ../sass/_main.scss */
.custom-card:hover {
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.18);
}

/* line 52, ../sass/_main.scss */
* {
  margin: 0;
}

/* line 56, ../sass/_main.scss */
html {
  height: 100%;
}

/* line 60, ../sass/_main.scss */
body {
  height: 100%;
  padding: 0;
  background-color: #f0f0f0 !important;
  font-family: Roboto, HelveticaNeue, sans-serif;
}

/* line 67, ../sass/_main.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}

/* line 73, ../sass/_main.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 78, ../sass/_main.scss */
.site-footer, .page-wrap:after {
  height: 50px;
}

/* line 82, ../sass/_main.scss */
.site-footer {
  color: #fff;
  background: #6e6e6e;
}
/* line 86, ../sass/_main.scss */
.site-footer p {
  margin-top: 18px;
}

/* line 91, ../sass/_main.scss */
.wrapper {
  padding: 0 0 15px 0;
  margin: 0;
  background-color: #f0f0f0;
}

/* line 97, ../sass/_main.scss */
.p-0 {
  padding: 0;
}

/* line 101, ../sass/_main.scss */
.m-0 {
  margin: 0;
}

/* line 105, ../sass/_main.scss */
.m-b-15 {
  margin-bottom: 15px;
}

/* line 109, ../sass/_main.scss */
.text-align-c {
  text-align: center;
}

/* line 113, ../sass/_main.scss */
.header,
.footer {
  padding-left: 0;
  padding-right: 0;
}

/* line 121, ../sass/_main.scss */
.header .navbar {
  margin-bottom: 0;
}
/* line 124, ../sass/_main.scss */
.header .navbar-header {
  float: left;
}
/* line 128, ../sass/_main.scss */
.header .navbar-default {
  background-color: #00bcd5;
  border: none;
  border-radius: 0;
}
/* line 133, ../sass/_main.scss */
.header .navbar-default .logout-container {
  float: right;
  margin-top: 14px;
  font-size: 16px;
}
/* line 138, ../sass/_main.scss */
.header .navbar-default .logout-container .logged-in-username {
  display: inline-block;
  color: #fff;
}
/* line 143, ../sass/_main.scss */
.header .navbar-default .logout-container .buttons-divider {
  border: 1px solid #B0E7EF;
  margin: 0 12px;
}
/* line 148, ../sass/_main.scss */
.header .navbar-default .logout-container .logout-button-action {
  display: inline-block;
}
/* line 150, ../sass/_main.scss */
.header .navbar-default .logout-container .logout-button-action a {
  outline: 0;
  color: #fff;
}
/* line 156, ../sass/_main.scss */
.header .navbar-default .navbar-brand {
  color: #fff;
  font-family: Gotham;
  font-size: 32px;
}

/* line 165, ../sass/_main.scss */
.header-extended {
  height: 233px;
  background: #00bcd5;
}

/* line 170, ../sass/_main.scss */
.login-page-container {
  position: relative;
}
/* line 173, ../sass/_main.scss */
.login-page-container .welcome-head {
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 300;
}

/* line 180, ../sass/_main.scss */
.page-login {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 100px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 190, ../sass/_main.scss */
.page-login .login-container .login-block {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 196, ../sass/_main.scss */
.page-login .login-container .login-block h3 {
  font-weight: 400;
  color: #6e6e6e;
}
/* line 201, ../sass/_main.scss */
.page-login .login-container .login-block form {
  text-align: left;
  margin-top: 34px;
}
/* line 205, ../sass/_main.scss */
.page-login .login-container .login-block form .border-button {
  border: 2px solid #00bcd5;
  background-color: #fff;
  border-radius: 0;
  color: #00bcd5;
  width: 120px;
}

/* line 219, ../sass/_main.scss */
.page-home .list-entity {
  padding: 10px 0;
  border: 1px solid grey;
  margin: 8px 0;
}
/* line 225, ../sass/_main.scss */
.page-home .panel-card {
  background-color: white;
  margin-top: 60px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 232, ../sass/_main.scss */
.page-home .panel-card .header-panel {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #00bcd5;
  padding: 4px 15px;
}
/* line 238, ../sass/_main.scss */
.page-home .panel-card .header-panel h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 246, ../sass/_main.scss */
.page-home .panel-card .filter-block {
  background-color: #fff;
}
/* line 249, ../sass/_main.scss */
.page-home .panel-card .filter-block md-input-container > md-select {
  margin: 10px 0 0;
}
/* line 253, ../sass/_main.scss */
.page-home .panel-card .filter-block .refresh-btn-vertical-align {
  margin-top: 23px;
}
/* line 257, ../sass/_main.scss */
.page-home .panel-card .filter-block .md-button.md-raised {
  color: white;
  background-color: #00bcd5;
}
/* line 262, ../sass/_main.scss */
.page-home .panel-card .filter-block .md-button.md-raised:not([disabled]):hover {
  background-color: #2da7b7;
}
/* line 268, ../sass/_main.scss */
.page-home .table-heading {
  background-color: #f3bf13;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center;
  padding: 5px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 279, ../sass/_main.scss */
.page-home .customer-list-block .custom-card {
  margin: 8px 0;
  text-align: center;
  padding: 15px 0;
}
/* line 284, ../sass/_main.scss */
.page-home .customer-list-block .custom-card .circle-highlight {
  background-color: #f3bf13;
  padding: 10px;
  border-radius: 50%;
  font-weight: 500;
  color: #fff;
}
/* line 292, ../sass/_main.scss */
.page-home .customer-list-block .grid-label {
  color: #f3bf13;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 302, ../sass/_main.scss */
.page-detail .panel-card {
  background-color: white;
  margin-top: 60px;
  margin-bottom: 75px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 310, ../sass/_main.scss */
.page-detail .panel-card .back-arrow {
  float: left;
  margin-top: 9px;
}
/* line 314, ../sass/_main.scss */
.page-detail .panel-card .header-panel {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #00bcd5;
  padding: 4px 15px;
  text-align: center;
}
/* line 321, ../sass/_main.scss */
.page-detail .panel-card .header-panel h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 329, ../sass/_main.scss */
.page-detail .panel-card .customer-info-block {
  color: #6e6e6e;
}
/* line 332, ../sass/_main.scss */
.page-detail .panel-card .customer-info-block .circle-container {
  margin-top: 30px;
}
/* line 335, ../sass/_main.scss */
.page-detail .panel-card .customer-info-block .circle-container .circle-highlight {
  background-color: #f3bf13;
  padding: 20px;
  border-radius: 50%;
  font-weight: 500;
  color: #fff;
}
/* line 344, ../sass/_main.scss */
.page-detail .panel-card .customer-info-block .name-customer-detail {
  font-weight: 400;
}
/* line 348, ../sass/_main.scss */
.page-detail .panel-card .customer-info-block .product-customer-detail {
  font-size: 16px;
  font-weight: 500;
}
/* line 353, ../sass/_main.scss */
.page-detail .panel-card .customer-info-block .status-customer-detail {
  font-weight: 500;
}
/* line 358, ../sass/_main.scss */
.page-detail .panel-card .customer-info-block #SkypeButton_Call_SRA_SKYPE_1 p {
  font-size: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}
/* line 364, ../sass/_main.scss */
.page-detail .panel-card .customer-info-block #SkypeButton_Call_SRA_SKYPE_1 img {
  margin: 5px !important;
  vertical-align: 0 !important;
}
/* line 370, ../sass/_main.scss */
.page-detail .panel-card .customer-info-block .status-block-details {
  margin: 26px 0;
}
/* line 375, ../sass/_main.scss */
.page-detail .panel-card .md-button.md-raised {
  color: white;
  background-color: #00bcd5;
}
/* line 380, ../sass/_main.scss */
.page-detail .panel-card .md-button.md-raised:not([disabled]):hover {
  background-color: #4096b7;
}
/* line 384, ../sass/_main.scss */
.page-detail .panel-card .tab-save-button {
  float: right;
  margin-bottom: 20px;
}
/* line 389, ../sass/_main.scss */
.page-detail .panel-card .datePickerContainer {
  margin-top: 32px;
  text-align: center;
}
/* line 393, ../sass/_main.scss */
.page-detail .panel-card .datePickerContainer input {
  border: 1px solid #E1E1E1;
  border-radius: 0;
  padding: 7px;
  width: 210px;
  outline: 0;
}
/* line 402, ../sass/_main.scss */
.page-detail .panel-card .timePickerContainer {
  margin-top: 32px;
  text-align: center;
}
/* line 406, ../sass/_main.scss */
.page-detail .panel-card .timePickerContainer div.input-group.bootstrap-timepicker.timepicker {
  width: 210px;
  margin: 0 auto;
}
/* line 410, ../sass/_main.scss */
.page-detail .panel-card .timePickerContainer input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid #E1E1E1;
}

/* line 420, ../sass/_main.scss */
.footer {
  padding-top: 19px;
  color: #777;
}

@media screen and (max-width: 768px) {
  /* line 2, ../sass/_mobile.scss */
  .xs-align-center {
    text-align: center;
  }

  /* line 6, ../sass/_mobile.scss */
  .datePickerContainer {
    margin-top: 8px !important;
  }

  /* line 10, ../sass/_mobile.scss */
  .xs-m-b-15 {
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 2, ../sass/_desktop.scss */
  .container {
    width: 950px;
  }
}
